header {
	background-color: rgb(91, 200, 255);
	height: 300px;
	padding: 50px;
    border: double 5px rgb(rgb(1, 127, 155), green, blue);
}
#intro-title {
    background-color: aqua;
    border: solid 5px rgb(5, 189, 189);
    margin: 50px 30px 20px 40px;
    padding: 30px;
}
.main-image {
    max-width: 900px;
    height: auto;
    align-content: center;
    display: flex; 
}
.margin-1 {
    font-size: 30;
    text-align: center;
    background-color: rgb(0, 64, 255);
    color: antiquewhite;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
/*this needs to be updated later, since it's overlapping with the rest of the list*/
.contacts {
    border: 20px;
    color: brown;
    background-color: aliceblue;
    padding: 10px 10px; 
	border-radius: 10px;
}
.lorem-text {
    font-size: 20px;
    color: black;
    font-style: italic;
}